@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

.main-container{
    display: flex;
    position: relative;
    width: min-content;
    background-color: hsl(233, 47%, 7%);
    text-align: center;
    padding: 5%;

}

.details-holder{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 5%;
    border-radius: 2% 0 0 2% ;
    background-color: hsl(244, 38%, 16%);
}

.details-holder header{
    font-family: 'Lexend Deca', sans-serif;
    font-size: larger;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    margin-bottom: 5%;
}

.details-holder header mark{
    color: hsl(277, 64%, 61%);
    background-color: hsl(244, 38%, 16%);;
}

.details-holder summary{
    font-family:'Inter', sans-serif;
    text-align: left;
    font-size: 15px;
    font-weight: 400 ;
    color:hsla(0, 0%, 100%, 0.75);
}

.figures-card{
    display: flex;
    font-family:'Inter', sans-serif;
    margin-top: 50%;
}

.figure small{
    color: hsla(0, 0%, 100%, 0.6);
}

.figure figure{
   color: hsl(0, 0%, 100%);  
}

.picture-card{
    background-color:hsl(277, 64%, 61%) ;
    width: 659px;
    height: 484px;
    overflow: hidden;
    border-radius: 0 2% 2% 0 ;
}

.picture-card img{
    filter: opacity(20%);
    height: 100%;
    overflow:hidden;
}

@media only screen and (max-width: 375px) {

        .main-container{
        display: flex;
        flex-direction:column-reverse;
        position: relative;
        width:fit-content;
        background-color: hsl(233, 47%, 7%);
        text-align: center;
        padding: 5%;
        }

        .details-holder{
        width: auto;
        padding: 5%;
        background-color: hsl(244, 38%, 16%);
        border-radius:  0 0 2% 2% ;   
        }

        .picture-card{
            position: relative;
        background-color:hsl(277, 64%, 61%);
        width: 654px;
        height: 480px;
        overflow: hidden;
        border-radius: 2% 2% 0 0;   
        }

        .picture-card img{
        filter: opacity(20%);
        width:fit-content;
        height: min-content;
        }

        .details-holder summary{
        font-family:'Inter', sans-serif;
        text-align: center;
        }

        .figures-card{
        display: flex;
        flex-direction: column;
        font-family:'Inter', sans-serif;
        margin-top: 50%;
    }
    
}

