@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

.main-container{
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    width: 80vw;
    height: 70vh;
    background-color: hsl(233, 47%, 7%);
    text-align: center;
    padding: 10%;

}

.details-holder{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 50%;
    height:100%;
    border-radius: 2% 0 0 2% ;
    background-color: hsl(244, 38%, 16%);
}

.details-holder header{
    font-family: 'LexeSnd Deca', sans-serif;
    font-size:2.5rem;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    margin-bottom: 3%;
    margin-top: 2%;
}

.details-holder header mark{
    color: hsl(277, 64%, 61%);
    background-color: hsl(244, 38%, 16%);;
}

.summary{
    font-family:'Inter', sans-serif;
    text-align:start;
    font-size: 1.5rem;
    font-weight:300;
    height: max-content;
    width:95%;
    color:hsla(0, 0%, 100%, 0.75);
    padding: 5%;
}

.figures-card{
    display: flex;
    /* align-items: center; */
    /* align-content: center; */
    position: relative;
    font-family:'Inter', sans-serif;
    font-size: 1rem;
    height: min-content;
    width:95%;
    margin-left: 5%;
    margin-bottom: 10%;
}

.figure small{
    color: hsla(0, 0%, 100%, 0.6);
}

.figure figure{
   color: hsl(0, 0%, 100%);  
   font-size:larger;
}

.picture-card{
    background-image: url(./images/image-header-desktop.jpg);
    background-color:hsl(277, 64%, 61%);
    background-blend-mode:soft-light;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100%;
    border-radius: 0 2% 2% 0;
    position: relative;
}

@media only screen and (max-width: 860px) {
    .main-container{
        display: flex;
        flex-direction: column-reverse;
        height: min-content;
    }

    .details-holder{
        position: relative;
        width: 100%;
        height: 50%;
        border-radius: 0 0 2% 2%;
        text-align: center;
    }

    .summary{
        text-align: center;
        font-size:larger;
    } 

    .picture-card{
        background-image: url(./images/image-header-mobile.jpg);
        width: 100%;
        height: 50vh;
        border-radius: 2% 2% 0 0;
    }
    
    .figures-card{
        display: flex;
        flex-direction: column;
        /* margin-left:30%; */
        margin-bottom: 3%;
        font-size:1.5rem;
    }
}

